{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}Conecta, Materiales Educativos, Materiales, Educativos{% endblock %}
{% block page_title %}Materiales Educativos{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-xs">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div
                            class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Materiales Educativos
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-s">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img src="{{ url_for('static', filename='images/manifest/user_f_04.svg') }}"
                            class="resize-image-2fit-90" alt="Logo Seguridad" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            ¿Estás preocupada de estar sufriendo o haber sufrido violencia?
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            La violencia contra la mujer es cualquier acción o conducta, basada en su género, que cause
                            muerte, daño o sufrimiento físico, sexual o psicológico a la mujer, tanto en el ámbito
                            público como en el privado. (Convención de Belem do Pará, OEA).
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            En esta sección encontrarás información sobre distintos tipos de violencia. No dudes en
                            escribirnos o hacer una cita si has leído algo que te haga pensar que tú o alguien que
                            conoces está experimentado violencia.
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            <b>No cobramos, no juzgamos. Solo tratamos de ayudar.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <h4
                            class="mdc-typography--headline4 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Documentos
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle s-font-align-center">
                        <div class="mdc-card">
                            <a href="https://dvcncampus.org/pluginfile.php/3551/mod_data/content/2073/Violencia%20contra%20NNA%20y%20la%20violencia%20%20contra%20las%20mujeres%20Flyer%20v2b.pdf" target="_blank">
                                <div class="mdc-card__primary-action" tabindex="0">
                                    <div class="mdc-card__media">
                                        <i class="material-icons s-font-color-primary"
                                            aria-hidden="true">description</i>
                                    </div>
                                    <div class="mdc-typography--headline5 s-font-color-secondary">Violencia contra niñas, niños y adolescentes y violencia contra las mujeres</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle s-font-align-center">
                        <div class="mdc-card">
                            <a href="https://dvcncampus.org/pluginfile.php/3551/mod_data/content/2068/Violencia%20sexual%20Flyer%20web%20%20Final.pdf" target="_blank">
                                <div class="mdc-card__primary-action" tabindex="0">
                                    <div class="mdc-card__media">
                                        <i class="material-icons s-font-color-primary"
                                            aria-hidden="true">description</i>
                                    </div>
                                    <div class="mdc-typography--headline5 s-font-color-secondary">Violencia sexual</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle s-font-align-center">
                        <div class="mdc-card">
                            <a href="https://dvcncampus.org/pluginfile.php/3551/mod_data/content/2058/MALTRATO%20DE%20LAS%20MUJERES%20ADULTAS%20%20MAYORES%20Flyer%20v2-4.pdf" target="_blank">
                                <div class="mdc-card__primary-action" tabindex="0">
                                    <div class="mdc-card__media">
                                        <i class="material-icons s-font-color-primary"
                                            aria-hidden="true">description</i>
                                    </div>
                                    <div class="mdc-typography--headline5 s-font-color-secondary">Maltrato a mujeres adultas mayores</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}