{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}Conecta, Materiales Educativos, Materiales, Educativos{% endblock %}
{% block page_title %}Materiales Educativos{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-xs">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div
                            class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Materiales Educativos
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-s">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img src="{{ url_for('static', filename='images/manifest/user_f_04.svg') }}"
                            class="resize-image-2fit-90" alt="Logo Seguridad" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            ¿Estás preocupada de estar sufriendo o haber sufrido violencia?
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            La violencia contra la mujer es cualquier acción o conducta, basada en su género, que cause
                            muerte, daño o sufrimiento físico, sexual o psicológico a la mujer, tanto en el ámbito
                            público como en el privado. (Convención de Belem do Pará, OEA).
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            En esta sección encontrarás información sobre distintos tipos de violencia. No dudes en
                            escribirnos o hacer una cita si has leído algo que te haga pensar que tú o alguien que
                            conoces está experimentado violencia.
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            <b>No cobramos, no juzgamos. Solo tratamos de ayudar.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <h4
                            class="mdc-typography--headline4 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Materiales Educativos contra la Violencia
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <ul class="mdc-image-list mdc-image-list--masonry">
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/mat_edu_01.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Adultas Mayores</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/mat_edu_02.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Violencia Sexual</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/mat_edu_03.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Niñ@s y Adolescentes</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}