{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}Conecta, Plan de Seguridad{% endblock %}
{% block page_title %}Plan de Seguridad{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-xs">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div
                            class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Plan de Seguridad
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-s">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img src="{{ url_for('static', filename='images/manifest/user_f_08.svg') }}"
                            class="resize-image-2fit-90" alt="Logo Seguridad" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            <b>Crea un plan de seguridad.</b>
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            Este es un plan práctico que incluye formas de mantenerte segura mientras estás en una
                            relación abusiva de pareja, si piensas dejar esa relación o después de que ha terminado
                            la relación. Tener un plan de seguridad establecido puede ayudar a protegerte durante
                            situaciones de riesgo o estresantes. Debido a que puede haber disponibilidad limitada de
                            refugio debido al COVID-19, considera alternativas como quedarte con familiares o amigas (os)
                            u otras opciones.
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            <b>El personal de CONECTA te puede ayudar a elaborar un plan de seguridad.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <h4
                            class="mdc-typography--headline4 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Plan de Seguridad
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <ul class="mdc-image-list mdc-image-list--masonry">
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/planseguridad_01.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Plan de seguridad</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}