{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}Conecta, Sobre Nosotros{% endblock %}
{% block page_title %}Sobre Nosotros{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-xs">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Sobre Nosotros
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-s">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img src="{{ url_for('static', filename='images/manifest/group_f_02.svg') }}" alt="Logo Conecta" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div class="mdc-typography--headline2 s-font-color-secondary s-font-family-poppins">
                            CONECTA
                        </div>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            Es una plataforma virtual de servicios para mujeres adultas y jóvenes que han experimentado
                            cualquier tipo de violencia (doméstica, intrafamiliar, sexual por cualquier persona, laboral
                            y comunitaria).
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            Nuestra misión garantizar la atención integral y autodeterminación de las sobrevivientes
                            mediante servicios de asistencia legal, psicológica y social.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <h4 class="mdc-typography--headline4 s-font-color-secondary s-font-family-poppins">
                            Brindada por:
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-70" src="../static/images/manifest/gob_inam_v.png"
                            alt="Logo INAM" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-70" src="../static/images/manifest/ciudadmujer_v.png"
                            alt="Logo Ciudad Mujer" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <h4 class="mdc-typography--headline4 s-font-color-secondary s-font-family-poppins">
                            Con el apoyo de sus Aliados:
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-30" src="../static/images/manifest/bid_slogan.png" alt="Logo BID" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-50" src="../static/images/manifest/conatel.png" alt="Logo Conatel" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-30" src="../static/images/manifest/911.png" alt="Logo 911" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-30" src="../static/images/manifest/claro.png" alt="Logo CLARO" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-30" src="../static/images/manifest/tigo.png" alt="Logo TIGO" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}