{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}Conecta, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Bienvenid@ a Conecta{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <!-- <div class="container-color-surface">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <div class="mdc-tab-bar" role="tablist">
                        <div class="mdc-tab-scroller">
                            <div class="mdc-tab-scroller__scroll-area">
                                <div class="mdc-tab-scroller__scroll-content">
                                    <button id="aidMenuButton" class="mdc-tab" role="tab" aria-selected="true"
                                        tabindex="0">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label s-font-weight-bold">Solicite Ayuda</span>
                                        </span>
                                        <span class="mdc-tab-indicator">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label s-font-weight-bold">Información sobre
                                                violencia</span>
                                        </span>
                                        <span class="mdc-tab-indicator">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="2">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label s-font-weight-bold">Plan de
                                                Seguridad</span>
                                        </span>
                                        <span class="mdc-tab-indicator">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="3">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label s-font-weight-bold">Sobre Nosotros</span>
                                        </span>
                                        <span class="mdc-tab-indicator">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="4">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label s-font-weight-bold">COVID 19</span>
                                        </span>
                                        <span class="mdc-tab-indicator">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                </div>
                                <div id="aidMenu" class="mdc-menu mdc-menu-surface" tabindex="-1">
                                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true">
                                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                                            <span class="mdc-list-item__ripple"></span>
                                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">chat</i>
                                            <span class="mdc-list-item__text">Chatea con nosotras</span>
                                        </li>
                                        <li class="mdc-list-item" role="menuitem" tabindex="1">
                                            <span class="mdc-list-item__ripple"></span>
                                            <i class="material-icons mdc-list-item__graphic"
                                                aria-hidden="true">event_available</i>
                                            <span class="mdc-list-item__text">Accede a tu cita</span>
                                        </li>
                                        <li class="mdc-list-item" role="menuitem" tabindex="1">
                                            <span class="mdc-list-item__ripple"></span>
                                            <i class="material-icons mdc-list-item__graphic"
                                                aria-hidden="true">menu_book</i>
                                            <span class="mdc-list-item__text">Directorios de servicios</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-color-landingpage">
        <div class="mdc-layout-grid container-size-l">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center"
                    style="grid-row: span 3;">
                    <img src="{{ url_for('static', filename='images/manifest/user_f_01.svg') }}" alt="Logo Conecta" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <div class="mdc-typography--headline5 s-font-color-yellow-titles s-font-family-poppins">
                        ¿QUÉ ES
                    </div>
                    <div class="mdc-typography--headline2 s-font-color-on-primary s-font-family-poppins">
                        CONECTA?
                    </div>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        Es una plataforma digital de servicios para mujeres adultas y adolescentes que han experimentado
                        cualquier situación de violencia, con el fin de asegurarles una atención integral, mediante los
                        servicios de psicología, trabajo social y asesoría legal.
                    </p>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        <b>Estamos aquí para escucharte y apoyarte. Tu información será anónima y confidencial.</b> Para recibir orientación general o ser referida a servicios:
                    </p>
                    <p>
                        <button
                            class="mdc-button mdc-button--raised mdc-button--color-inverted animate__animated animate__tada"
                            aria-label="Try Chat" alt="Try Chat" data-action-type="redirect" data-action-val="/chat/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Chatea con nosotras</span>
                        </button>
                    </p>
                    <p class="mdc-typography--subtitle2 s-font-color-on-primary s-font-policies">
                        Recuerda: al utilizar la plataforma, estás aceptando nuestros 
                        <a href="/terminosdelservicio/" target="_blank">Términos y Condiciones del Servicio</a> y 
                        <a href="/politicaprivacidad/" target="_blank">Política de Privacidad</a>.
                    </p>
                    <br/><br/>
                    <p class="mdc-typography--subtitle1">
                        Para <b>ASISTIR A UNA CITA</b> o <b>SOLICITAR UNA NUEVA</b>, crea o accede a tu cuenta
                        personal:
                    </p>
                    <p>
                        <button id="loginButton" class="mdc-button mdc-button--raised" aria-label="Login" alt="Login"
                            data-action-type="redirect" data-action-val="/login/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Ingresa por aquí</span>
                        </button>
                    </p>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <span class="mdc-typography--headline5 s-font-color-primary s-font-family-poppins">
                        Brindado por:
                    </span>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-90" src="../static/images/manifest/inam.png" alt="Logo INAM" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-90" src="../static/images/manifest/gobhn.png" alt="Logo Gobierno Honduras" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-90" src="../static/images/manifest/ciudadmujer.png" alt="Logo Ciudad Mujer" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-secondary s-font-align-center s-font-family-poppins">
                        Servicios que ofrecemos
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-chalkboard-teacher s-font-size-l s-font-color-primary" aria-hidden="true"></i>
                    <p class="mdc-typography--headline6 s-font-color-secondary">
                        Orientación General
                    </p>
                    <p class="mdc-typography--body2 s-font-color-secondary">
                        Información general y referencia a los servicios de los módulos de Ciudad Mujer.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-balance-scale s-font-size-l s-font-color-primary" aria-hidden="true"></i>
                    <p class="mdc-typography--headline6 s-font-color-secondary">
                        Asistencia Legal
                    </p>
                    <p class="mdc-typography--body2 s-font-color-secondary">
                        Asesoría en diversas materias vinculadas a la violencia, tales como divorcios, alimentos y patria
                        potestad.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-hand-holding-heart s-font-size-l s-font-color-primary" aria-hidden="true"></i>
                    <p class="mdc-typography--headline6 s-font-color-secondary">
                        Apoyo Psicológico y Social
                    </p>
                    <p class="mdc-typography--body2 s-font-color-secondary">
                        Atención en crisis, apoyo emocional, planes de seguridad y de vida, grupos de autoayuda y
                        seguimiento de casos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-secondary">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-yellow-titles s-font-align-center s-font-family-poppins">
                        Horarios de atención
                    </h2>
                    <div class="s-font-align-center">
                        <i class="fas fa-clock s-font-size-l s-font-color-yellow-titles" aria-hidden="true"></i>
                        <p class="mdc-typography--body1 s-font-color-on-secondary">
                            Lunes a viernes de 8:00 am a 4:00 pm
                        </p>
                    </div>
                    <br/><br/>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                        <i class="fas fa-phone-square-alt s-font-size-l s-font-color-yellow-titles" aria-hidden="true"></i>
                        <p class="mdc-typography--body1 s-font-color-on-secondary">
                            Si tú u otras personas están en riesgo de muerte o daño grave, por favor, <b>llama al 911</b>.
                        </p>
                    </div>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img src="{{ url_for('static', filename='images/manifest/user_f_09.svg') }}" alt="Horario" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-surface">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img src="{{ url_for('static', filename='images/manifest/user_f_06.svg') }}" alt="How To" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                        Cómo usar la plataforma
                    </h2>
                    <div class="s-font-align-center">
                        <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">chat</i>
                        <p class="mdc-typography--body1">
                            Si sufres algún tipo de violencia, estamos aquí para apoyarte. Tu información será anónima y
                            confidencial. Envíanos un mensaje:
                        </p>
                        <p class="mdc-typography--body2">
                            <button class="mdc-button mdc-button--raised animate__animated animate__tada"
                                aria-label="Try Chat" alt="Try Chat" data-action-type="redirect"
                                data-action-val="/chat/">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Haz click aquí</span>
                            </button>
                        </p>
                        <br />
                    </div>
                    <div class="s-font-align-center">
                        <i class="material-icons s-font-size-l s-font-color-primary"
                            aria-hidden="true">event_available</i>
                        <p class="mdc-typography--body1">
                            Agenda una cita registrándote en CONECTA, usando tu teléfono, tablet o computador.
                        </p>
                        <p class="mdc-typography--body2">
                            <button class="mdc-button mdc-button--raised mdc-button--color-inverted"
                                aria-label="Register" alt="Register" data-action-type="redirect"
                                data-action-val="/login/">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Regístrate aquí</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-secondary">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2
                        class="mdc-typography--headline2 s-font-color-yellow-titles s-font-align-center s-font-family-poppins">
                        Beneficios
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-yellow-titles" aria-hidden="true">money_off</i>
                    <p class="mdc-typography--body1 s-font-color-on-secondary">
                        La atención es <b>gratuita</b>.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-yellow-titles" aria-hidden="true">alarm</i>
                    <p class="mdc-typography--body1 s-font-color-on-secondary">
                        Las consultas duran 30 minutos, tiempo suficiente para conocer tu situación y
                        desarrollar un plan de acción para atender tus necesidades.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-hands-helping s-font-size-l s-font-color-yellow-titles" aria-hidden="true"></i>
                    <p class="mdc-typography--body1 s-font-color-on-secondary">
                        Referencia a servicios de otras instituciones.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-surface">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                        Nuestros aliados:
                    </h2>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-50" src="../static/images/manifest/bid_slogan.png" alt="Logo BID" />
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-50" src="../static/images/manifest/conatel.png" alt="Logo INAM" />
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-30" src="../static/images/manifest/911.png" alt="Logo INAM" />
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block bottombar %}
<button id="floatingButton" class="mdc-fab mdc-fab--fixed mdc-fab--whatsapp" aria-label="WhatsApp Contact Center"
    onclick="window.open('https://wa.me/50499993298');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fa fa-whatsapp"></span>
</button>
{% endblock %}